.navbar-container {
    display:left;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 62, 8);
    padding: 20px;
}

.logo {
  width: 100%;
  height: 60px;
}

.buttons-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
}

#btn {
    border-style: none;
    border-bottom: none;
    text-decoration: none;
    background-color: rgb(255, 62, 8);
    color: white;
    font-size: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    margin-left: 40px;
    max-width: 150px;
    text-transform: uppercase;
}

#btn:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.dropdown-menu {
    margin-left: 0px;
    background-color: rgb(255, 62, 8);
    font-size: 15px;
}

.dropdown-item {
    color: white;
}

.dropdown-item:hover {
    color: white;
    background-color: rgb(211, 47, 2);
}

.nav {
    display: flex;
    justify-content: space-between;
}

  .nav > .nav-btn {
    display: none;
  }
  
  .nav > #nav-check {
    display: none;
  }

@media (min-width: 1200px) {
  .nav > .nav-links {
    display: inline;
    justify-content: right;
    float: right;
    font-size: 18px;
    margin-right: 20px;
  }
  .nav > .nav-links > a {
    display: inline-block;
    justify-content: right;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
  }
}
  
@media (max-width: 1199px) and (min-width: 992px) {
    .navbar-top {
        padding: 10px;
    } 
}
  
@media (max-width: 991px) and (min-width: 768px) {
  
}
  
@media (max-width: 767px) {
    .navbar-top {
        margin-left: 10px;
        margin-bottom: 30px;
    }
    .left-content {
        justify-content: center;
    }
    .right-content {
        justify-content: center;
    }
}

@media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: -5px;
      background-color: rgb(255, 62, 8);
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 100px;
      height: 60px;
      padding: 35px;
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 40px;
      height: 10px;
      border-top: 5px solid white;
    }
    .nav > .nav-links {
      width: 100%;
      height: 10px;
      transition: all 0.5s ease-in;
      overflow-y: hidden;
      top: 0px;
      left: 0px;
    }
    .nav > .nav-links > a {
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(80vh - 50px);
     
    }
    .dropdown-menu {
        margin-left: -5px;
        margin-top: 60px;
        width: 20px;
        font-size: 10px;
        text-align: end;
    }
    #btn:hover {
      transform: scale(1);
    }
  .logo {
    width: 100%;
    height: 45px;
  }
  
}